# Nama          : Kasimirus Derryl Odja
# NIM           : 2602059960
# Kelas         : LA01
# Assingment    : 2

In [282]:
import pandas as pd
import numpy as np

In [283]:
head_data= ['size', 'bedroom', 'price']
data = pd.read_csv('home.txt', names=head_data, delimiter=',')
data

    size  bedroom   price
0   2104        3  399900
1   1600        3  329900
2   2400        3  369000
3   1416        2  232000
4   3000        4  539900
5   1985        4  299900
6   1534        3  314900
7   1427        3  198999
8   1380        3  212000
9   1494        3  242500
10  1940        4  239999
11  2000        3  347000
12  1890        3  329999
13  4478        5  699900
14  1268        3  259900
15  2300        4  449900
16  1320        2  299900
17  1236        3  199900
18  2609        4  499998
19  3031        4  599000
20  1767        3  252900
21  1888        2  255000
22  1604        3  242900
23  1962        4  259900
24  3890        3  573900
25  1100        3  249900
26  1458        3  464500
27  2526        3  469000
28  2200        3  475000
29  2637        3  299900
30  1839        2  349900
31  1000        1  169900
32  2040        4  314900
33  3137        3  579900
34  1811        4  285900
35  1437        3  249900
36  1239        3  229900
37  2132        4  345000
38  4215        4  549000
39  2162        4  287000
40  1664        2  368500
41  2238        3  329900
42  2567        4  314000
43  1200        3  299000
44   852        2  179900
45  1852        4  299900
46  1203        3  239500

In [284]:
data.dtypes

size       int64
bedroom    int64
price      int64
dtype: object

In [285]:
def min_max_scaling(dataset):
    normalized_dataset = dataset.copy()
    
    for column in dataset.columns:
        min_value = dataset[column].min()
        max_value = dataset[column].max()
    
        normalized_dataset[column] = (dataset[column] - min_value) / (max_value - min_value)
    
    return normalized_dataset

I chose data normalization because the data has several outliers, for example the data in the first row has a value in the bedroom is 3 and the price is 399900, this quite high range of numbers made me decide to use normalization rather than standardization

In [286]:
data = min_max_scaling(data)
data

        size  bedroom     price
0   0.345284     0.50  0.433962
1   0.206288     0.50  0.301887
2   0.426917     0.50  0.375660
3   0.155543     0.25  0.117170
4   0.592388     0.75  0.698113
5   0.312466     0.75  0.245283
6   0.188086     0.50  0.273585
7   0.158577     0.50  0.054904
8   0.145615     0.50  0.079434
9   0.177055     0.50  0.136981
10  0.300055     0.75  0.132262
11  0.316602     0.50  0.334151
12  0.286266     0.50  0.302074
13  1.000000     1.00  1.000000
14  0.114727     0.50  0.169811
15  0.399338     0.75  0.528302
16  0.129068     0.25  0.245283
17  0.105902     0.50  0.056604
18  0.484556     0.75  0.622826
19  0.600938     0.75  0.809623
20  0.252344     0.50  0.156604
21  0.285714     0.25  0.160566
22  0.207391     0.50  0.137736
23  0.306122     0.75  0.169811
24  0.837838     0.50  0.762264
25  0.068395     0.50  0.150943
26  0.167126     0.50  0.555849
27  0.461666     0.50  0.564340
28  0.371760     0.50  0.575660
29  0.492278     0.50  0.245283
30  0.272201     0.25  0.339623
31  0.040816     0.00  0.000000
32  0.327634     0.75  0.273585
33  0.630171     0.50  0.773585
34  0.264479     0.75  0.218868
35  0.161335     0.50  0.150943
36  0.106729     0.50  0.113208
37  0.353006     0.75  0.330377
38  0.927468     0.75  0.715283
39  0.361280     0.75  0.220943
40  0.223938     0.25  0.374717
41  0.382239     0.50  0.301887
42  0.472973     0.75  0.271887
43  0.095974     0.50  0.243585
44  0.000000     0.25  0.018868
45  0.275786     0.75  0.245283
46  0.096801     0.50  0.131321

In [287]:
import pandas as pd

def train_test_split(data, test_size=0.2):
    # shuffled_data = data.sample(frac=1, random_state=42)
    
    #Sizing
    test_data_size = int(len(data) * test_size)

    train_data = data.iloc[:test_data_size]
    test_data = data.iloc[test_data_size:]

    
    # X_train y_train X_test y_test
    X_train = train_data[['size', 'bedroom']].values
    y_train = train_data['price'].values.reshape(-1, 1) 
    X_test = test_data[['size', 'bedroom']].values
    y_test = test_data['price'].values.reshape(-1, 1)
    
    return X_train, y_train, X_test, y_test

In [288]:
data = pd.DataFrame(data, columns=['size', 'bedroom', 'price'])

X_train, y_train, X_test, y_test = train_test_split(data)

print("Training Set:")
print("X_train:", X_train)
print("y_train:", y_train)

print("\n\nTest Set:")
print("X_test:", X_test)
print("y_test:", y_test)

Training Set:
X_train: [[0.34528406 0.5       ]
 [0.20628792 0.5       ]
 [0.42691671 0.5       ]
 [0.1555433  0.25      ]
 [0.59238831 0.75      ]
 [0.31246553 0.75      ]
 [0.18808605 0.5       ]
 [0.15857694 0.5       ]
 [0.145615   0.5       ]]
y_train: [[0.43396226]
 [0.30188679]
 [0.37566038]
 [0.11716981]
 [0.69811321]
 [0.24528302]
 [0.27358491]
 [0.05490377]
 [0.07943396]]


Test Set:
X_test: [[0.17705461 0.5       ]
 [0.30005516 0.75      ]
 [0.31660232 0.5       ]
 [0.28626586 0.5       ]
 [1.         1.        ]
 [0.11472697 0.5       ]
 [0.39933811 0.75      ]
 [0.12906784 0.25      ]
 [0.10590182 0.5       ]
 [0.48455598 0.75      ]
 [0.60093767 0.75      ]
 [0.25234418 0.5       ]
 [0.28571429 0.25      ]
 [0.20739106 0.5       ]
 [0.30612245 0.75      ]
 [0.83783784 0.5       ]
 [0.06839493 0.5       ]
 [0.16712631 0.5       ]
 [0.46166575 0.5       ]
 [0.37175951 0.5       ]
 [0.49227799 0.5       ]
 [0.27220077 0.25      ]
 [0.04081633 0.        ]
 [0.32763376 0.75      ]
 [0.63017099 0.5       ]
 [0.26447876 0.75      ]
 [0.1613348  0.5       ]
 [0.10672918 0.5       ]
 [0.35300607 0.75      ]
 [0.92746828 0.75      ]
 [0.36127965 0.75      ]
 [0.22393822 0.25      ]
 [0.38223938 0.5       ]
 [0.47297297 0.75      ]
 [0.09597352 0.5       ]
 [0.         0.25      ]
 [0.27578599 0.75      ]
 [0.09680088 0.5       ]]
y_test: [[0.13698113]
 [0.13226226]
 [0.33415094]
 [0.30207358]
 [1.        ]
 [0.16981132]
 [0.52830189]
 [0.24528302]
 [0.05660377]
 [0.62282642]
 [0.80962264]
 [0.15660377]
 [0.16056604]
 [0.13773585]
 [0.16981132]
 [0.76226415]
 [0.1509434 ]
 [0.55584906]
 [0.56433962]
 [0.57566038]
 [0.24528302]
 [0.33962264]
 [0.        ]
 [0.27358491]
 [0.77358491]
 [0.21886792]
 [0.1509434 ]
 [0.11320755]
 [0.33037736]
 [0.71528302]
 [0.2209434 ]
 [0.37471698]
 [0.30188679]
 [0.27188679]
 [0.24358491]
 [0.01886792]
 [0.24528302]
 [0.13132075]]

In [289]:
class MultipleLinearRegression:
    def __init__(self):
        self.coeff_ = None
        self.intercept_ = None 

    def fit(self, X, y):
        X = np.insert(X, 0, 1, axis=1)
        
        betas = np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), y)
        self.intercept_ = betas[0]
        self.coeff_ = betas[1:]

    def predict(self, X):
        y_pred = np.dot(X, self.coeff_) + self.intercept_
        return y_pred

In [290]:
mlr_model = MultipleLinearRegression()

mlr_model.fit(X_train, y_train)

y_pred = mlr_model.predict(X_test)

print("Training Set Predictions:")
print(y_pred)

Training Set Predictions:
[[ 0.15732056]
 [ 0.29492014]
 [ 0.3331553 ]
 [ 0.29493036]
 [ 1.15948864]
 [ 0.07878568]
 [ 0.42001995]
 [ 0.11424084]
 [ 0.0676657 ]
 [ 0.52739729]
 [ 0.67404208]
 [ 0.25218792]
 [ 0.31162055]
 [ 0.19554551]
 [ 0.30256513]
 [ 0.98992932]
 [ 0.02040577]
 [ 0.14481058]
 [ 0.51594003]
 [ 0.4026552 ]
 [ 0.55451247]
 [ 0.29459308]
 [ 0.0204262 ]
 [ 0.32967009]
 [ 0.72826221]
 [ 0.25009271]
 [ 0.13751309]
 [ 0.06870819]
 [ 0.36164004]
 [ 1.08548146]
 [ 0.37206503]
 [ 0.23378067]
 [ 0.41586018]
 [ 0.51280232]
 [ 0.05515571]
 [-0.04838891]
 [ 0.26434019]
 [ 0.05619821]]

In [291]:
print(y_pred.shape)

print(y_test.shape)

(38, 1)
(38, 1)

In [292]:
def rmse(y_true, y_pred):
    return np.sqrt(np.mean((y_true - y_pred) ** 2))

def mae(y_true, y_pred):
    return np.mean(np.abs(y_true - y_pred))

def r2_score(y_true, y_pred):
    ss_total = np.sum((y_true - np.mean(y_true)) ** 2)
    ss_residual = np.sum((y_true - y_pred) ** 2)
    r2 = 1 - (ss_residual / ss_total)
    return r2


# Evaluasi model pada test set
test_rmse = rmse(y_test, y_pred)
test_mae = mae(y_test, y_pred)
test_r2 = r2_score(y_test, y_pred)

print("\nTest Set Evaluation:")
print("with normalization dataset and Multiple Linear Regression\n")
print("RMSE:", test_rmse)
print("MAE:", test_mae)
print("R^2:", test_r2)

Test Set Evaluation:
with normalization dataset and Multiple Linear Regression

RMSE: 0.1490641351981751
MAE: 0.11353725267436786
R^2: 0.6197046365608807